﻿@using ModelFirstStudent.ViewModels;
@model IndexHomeViewModel
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Ім'я</th>
                <th>Прізвище</th>
                <th>Група</th>
                <th>Факультет</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Students)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>@student.LastName</td>
                    <td>@student.Group.Name</td>
                    <td>@student.Group.Faculty.Name</td>
                    <td style="display: flex; align-items: center; gap: 10px;">
                        <a asp-controller="Student" class="btn btn-primary" asp-route-id="@student.Id" asp-action="Edit">Редагувати</a>
                        <form method="post" asp-action="Delete" asp-controller="Student">
                            <input type="hidden" asp-for="DeleteStudentViewModel.Id" value="@student.Id" />
                            <button class="btn btn-danger">Видалити</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-controller="Student" class="btn btn-success" asp-action="Create">Додати студента</a>
    </div>
</div>
