﻿@using EducationGroupsMVC.ViewModels;
@model CreateStudentViewModel
<div class="container">
    <form method="post" asp-controller="Student" asp-action="Create" class="h-100 p-3 index-form mb-3 mt-3">
        <div class="h-100 row flex-column justify-content-center align-items-center">
            <div class="col">
                <div class="mb-3">
                    <input placeholder="ПІБ" type="text" asp-for="FullName" class="form-control fw-bold">
                    <span asp-validation-for="FullName" class="text-danger fw-bold"></span>
                </div>
                <div class="mb-3">
                    <input placeholder="Вік" type="number" asp-for="Age" class="form-control fw-bold">
                    <span asp-validation-for="Age" class="text-danger fw-bold"></span>
                </div>
                <div class="mb-3">
                    <select asp-for="GroupId" asp-items="@Model.GroupsSelect" class="form-control pointer fw-bold">
                        <option selected disabled>Група</option>
                    </select>
                    <span asp-validation-for="GroupId" class="text-danger fw-bold"></span>
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary w-100 fw-bold">Додати</button>
            </div>
        </div>
    </form>
</div>
