﻿@using EducationGroupsMVC.ViewModels;
@model EditCourseViewModel
<div class="container">
    <form method="post" asp-controller="Course" asp-action="Edit" class="h-100 p-3 index-form mb-3 mt-3">
        <div class="h-100 row flex-column justify-content-center align-items-center">
            <div class="col">
                <div class="mb-3">
                    <input placeholder="Назва" type="text" asp-for="Name" class="form-control fw-bold">
                    <span asp-validation-for="Name" class="text-danger fw-bold"></span>
                </div>
                <div class="mb-3">
                    <input placeholder="Опис" type="text" asp-for="Description" class="form-control fw-bold">
                    <span asp-validation-for="Description" class="text-danger fw-bold"></span>
                </div>
                <div class="mb-3">
                    <select asp-for="TeacherId" asp-items="@Model.TeachersSelect" class="form-control pointer fw-bold">
                        <option selected disabled>Викладач</option>
                    </select>
                    <span asp-validation-for="TeacherId" class="text-danger fw-bold"></span>
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary w-100 fw-bold">Зберегти</button>
            </div>
        </div>
    </form>
</div>
