﻿@using EducationGroupsMVC.ViewModels;
@model IndexHomeViewModel
<div class="container">
    <div class="h1 d-flex align-items-center justify-content-between">
        <span>Курси:</span>
        <div>
            <a asp-controller="Course" class="btn btn-success" asp-action="Create">Додати курс</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
				<th>ID</th>
                <th>Назва</th>
                <th>Опис</th>
                <th>Викладач</th>
                <th>Групи | Факультет</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.Courses)
            {
                <tr >
                    <td>@course.Id</td>
                    <td>@course.Name</td>
                    <td>@course.Description</td>
                    <td>@course.Teacher.FullName</td>
                    <td>
                        @foreach(var group in course.Groups)
                        {
                            <p>@group.Name | @group.Faculty.Name</p>
                        }
                    </td>
                    <td style="text-align: right">
                        <a style="display: inline" asp-controller="Course" class="btn btn-primary" asp-route-id="@course.Id" asp-action="Edit">Редагувати</a>
                        <form style="display: inline" method="post" asp-action="Delete" asp-controller="Course" asp-route-id="@course.Id">
                            <button class="btn btn-danger">Видалити</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    <div class="h1 d-flex align-items-center justify-content-between mt-5">
        <span>Студенти:</span>
        <div>
            <a asp-controller="Student" class="btn btn-success" asp-action="Create">Додати студента</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>ПІБ</th>
                <th>Вік</th>
                <th>Група</th>
                <th>Факультет</th>
                <th>Курс</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Students)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.FullName</td>
                    <td>@student.Age</td>
                    <td>@student.Group.Name</td>
                    <td>@student.Group.Faculty.Name</td>
                    <td>@student.Group.Course.Name</td>
                    <td style="text-align: right">
                        <a style="display: inline" asp-controller="Course" class="btn btn-primary" asp-route-id="@student.Id" asp-action="Edit">Редагувати</a>
                        <form style="display: inline" method="post" asp-action="Delete" asp-controller="Student" asp-route-id="@student.Id">
                            <button class="btn btn-danger">Видалити</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
